.container {
  max-width: 80%;
}
.cardholder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  box-shadow: 0 7px 14.8px 3.2px rgb(2 7 1 / 4%);
  width: 120px;
  height: 150px;
  margin: 5px;
  cursor: pointer;
}

.card > img {height: 80%;}
