.content {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 padding: 3em;
}
.featuredWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  /* margin-left: 100px; */
}

.paginationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 2em; */
}

.paginationWrapper > *  {margin: 0 2em;}