.menulist {
    display: flex;
    background: #f8f9fa;
    flex-direction: row;
    list-style: none;
    align-items: center;
    height: 60px;
    /* justify-content: space-between; */
    align-items: center;
    width: 100vw;
    border: 1px solid red;
    margin: 0;
  }