.menulist {
    display: flex;
    background: #f8f9fa;
    flex-direction: row;
    list-style: none;
    align-items: center;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: 0;
    cursor: pointer;
  }